* {
  box-sizing: border-box;
}

#content {
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  justify-content: center;
}

#fact-container {
  margin-top: 20px;
}

#img-container {
  margin-top: 20px;
  max-height: 250px;
  max-width: 350px;
}

.img-thumbnails {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 10px;
  justify-content: center;
}

.img-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.img-thumbnails img:hover {
  opacity: 0.5;
}

.planet-imgs img {
  max-height: 300px;
  max-width: 300px;
}

.planet-imgs img:hover {
  opacity: 0.5;
}

.planet-imgs img:hover + .vegan {
  opacity: 1;
}

.planet-imgs img:hover + .clothes {
  opacity: 1;
}

.planet-imgs img:hover + .plastic {
  opacity: 1;
}

.vegan {
  position: absolute;
  left: 430px;
  top: 470px;
  opacity: 0;
  max-width: 200px;
}

.clothes {
  position: absolute;
  left: 690px;
  top: 470px;
  opacity: 0;
  max-width: 200px;
}

.plastic {
  position: absolute;
  left: 930px;
  top: 470px;
  opacity: 0;
  max-width: 200px;
}

.vegan:hover {
    opacity: 1;
}

.clothes:hover {
    opacity: 1;
}

.plastic:hover {
    opacity: 1;
}

.link:hover {
  font-weight: bold;
}

.link {
  padding: 10px;
}

footer, h1 {
  background-color: #ADD8E6;
  height: 10%;
  text-align: center;
  justify-content: center;
  color: black;
  margin: 0px;
  padding: 10px;
}

html, body, section {
  height: 100%;
  margin: 0px;
  text-align: center;
}

section {
    padding: 10px;
    text-align: center;
    background-color: #F0F8FF;
}

.aboutmepage {
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#sunshine {
    opacity: 0.3;
    width: 350px;
    margin: 20px;
    margin-bottom: 80px;
}

.logo {
    vertical-align: top;
}

.links {
    display: block;
}