* {
  box-sizing: border-box;
}

#content {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  justify-content: center;
}

#fact-container {
  margin-top: 20px;
}

#img-container {
  margin-top: 20px;
  max-height: 250px;
  max-width: 350px;
}

.img-thumbnails {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 10px;
  justify-content: center;
}

.img-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.img-thumbnails img:hover {
  opacity: 0.5;
}

.planet-imgs img {
  max-height: 150px;
  max-width: 150px;
  margin: 55px;
  margin-top: 8%;
  float: left;
}

.planet-imgs img:hover {
  opacity: 0.5;
}

.planet-imgs img:hover + .vegan {
  opacity: 1;
}

.planet-imgs img:hover + .clothes {
  opacity: 1;
}

.planet-imgs img:hover + .plastic {
  opacity: 1;
}

.vegan {
  position: absolute;
  left: 15px;
  top: 470px;
  opacity: 0;
  max-width: 200px;
}

.clothes {
  position: absolute;
  left: 260px;
  top: 470px;
  opacity: 0;
  max-width: 200px;
}

.plastic {
  position: absolute;
  left: 510px;
  top: 470px;
  opacity: 0;
  max-width: 200px;
}

#dividing-line {
  width: 1px;
  height: 300px;
  position: absolute;
  right: 50%;
  top: 30%;
}

#chart-container {
  float: right;
  margin-right: 80px;
}

#chart-title {
  float: right;
  margin-right: 180px;
  margin-bottom: 0px;
}

#chart-info {
  position: absolute;
  bottom: 150px;
  right: 160px;
}

.link:hover {
  font-weight: bold;
}

.link {
  padding: 10px;
}

footer, h1 {
  background-color: #ADD8E6;
  height: 10%;
  text-align: center;
  justify-content: center;
  color: black;
  margin: 0px;
  padding: 10px;
  padding-top: 20px;
}

html, body {
  height: 100%;
  margin: 0px;
  text-align: center;
}

section {
  padding: 10px;
  text-align: center;
  background-color: #F0F8FF;
  height: 80%;
}

.aboutmepage {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#heidi {
  width: 350px;
  margin: 20px;
  margin-bottom: 60px;
}

.info {
  vertical-align: top;
}

.links {
  display: block;
}

.logo {
  max-height: 30px;
}

.logo:hover {
  transform: scale(1.3);
}

#email {
  max-width: 100px;
  display: inline-block;
}

#exp-container {
  border-style: solid;
  width: 350px;
  height: 130px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 50px;
  margin-right: 30px;
  margin-left: 30px;
}

.scroll {
  padding: 200px;
  border-style: solid;
  width: 950px;
  height: 500px;
  display: inline-block;
  margin-top: 50px;
}

#comments-container {
  max-height: 500px;
  list-style: none;
  overflow: scroll;
  background: aliceblue;
  float: left;
  padding: 0px;
  width: 100%;
}

#addcomment {
  float: left;
  text-align: left;
}

#nav {
  list-style-type: none;
  margin: 0px;
  height: 5%;
  padding: 10px;
  background: #F0F8FF;
  border: solid;
}

.navli {
  display: inline;
}

.navlink:hover {
  text-decoration: underline;
}

.navlink {
  text-decoration: none;
  color: black;
  padding: 25px;
  font-weight: bold;
}

.welcomepage {
  float: right;
  width: 75%;
  height: 75%;
}

.comments {
  float: left;
  width: 25%;
  border-right: solid;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#delete {
  position: absolute;
  bottom: 100px;
  left: 9%;
}

#pick-number-comments {
  float: left;
}

.commentli {
  text-align: left;
  margin: 10px;
  background: white;
}

#newcomment {
  border: solid;
  height: 130px;
  margin-bottom: 10px;
  display: none;
}

#login {
  display: none;
  border: solid;
  margin-bottom: 10px;
  padding: 10px;
}

#logout {
  display: none;
  float: left;
  margin-top: 5px;
  margin-left: 43%;
}

#totalCommentsLi {
  text-align: center;
  color: gray;
}

.singleDelete {
  color: red;
  float: right;
}

.singleDelete:hover {
  opacity: 0.5;
}

.reactionButton {
  float: right;
}

.reaction {
  margin: 0px;
  display: inline;
}

#nameLabel {
  padding-right: 25px;
}