#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

#img-container {
    margin-top: 20px;
    max-height: 100px;
}

.img-thumbnails {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 10px;
}

.img-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.img-thumbnails img:hover {
    opacity: 0.5;
}

.link:hover {
    font-weight: bold;
}